#top_bar{
  position:fixed;
  z-index:1;
  width: 100%;
  top:0;
}

.navbar{
  background-color:rgba(43, 39, 71, 0.849);
}


#song_list{
  height: 100%;
  width: 100%;
 
  margin-top: 100px;
/*Image only BG fallback*/

/*background = gradient + image pattern combo*/
background: 
  linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}


body {

  color: white;
}


.playlist-container {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.head-title {
  font-size: 25px;
}

.created,
.song{
  font-size: 13px;
}




.playlist-head {
  background: #282828;
  border-bottom: 1px solid #373737;
  padding: 12px 10px;
  line-height: 26px;
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background: #2f2f2f;
  border-bottom:1px solid #424242;
  height: 60px;
  opacity:0.8;
  font-size: 18px;
  /* margin-top: 5px; */
  

}

.song:hover{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background: #2f2f2f;
  border-bottom:1px solid #424242;
  height: 80px;
  opacity:1.0;
    
  }
.song:nth-child(odd) {
    background: #2f2f2f;  
  }
  
.song:nth-child(even) {
  background: #333333;
}

#remove_bt{
  border: 1px solid #fff;
  color:#fff;
  background-color:rgb(178, 172, 189);
  border-radius: 30px;
  font-size: 10px;
  opacity:0.2;
}

#remove_bt:hover {
  background-color: rgb(202, 197, 245);
  color:#fff;
  opacity:1.0;
}

a:link{
  text-decoration:none;
  color:#ffffff;
  }
  a:visited {
  text-decoration:none;
  color:#ffffff;
  }
  a:hover {
  text-decoration:underline;
  background-color:rgb(178, 172, 189);
  color:rgb(255, 255, 255);
  }
  a:active {
  text-decoration:none;
  background-color:rgb(143, 132, 236);
  color:#fafafa;
  }
